.table-container-component {
  border-radius: 15px;
  /* max-height: 65vh; */
  overflow: hidden;
  justify-items: center;
  margin-bottom: 10px;
}

.report-table {
  width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 4px;
  overflow: hidden;
}

.report-table th {
  font-size: 17px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.report-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td div {
  justify-content: center;
  align-items: center;
  text-align: center;
}
